flask
flask-sqlalchemy
flask-jwt-extended
flask-migrate
psycopg2-binary
python-dotenv
bleach
flask_limiter
flask-cors
flask-socketio
python-socketio

aliyun-python-sdk-core
aliyun-python-sdk-sts
oss2

APScheduler

gunicorn