flask
flask-sqlalchemy
flask-jwt-extended
flask-migrate
psycopg2-binary
python-dotenv
bleach
flask_limiter
flask-cors

# OAuth2 server dependencies
authlib
werkzeug

aliyun-python-sdk-core
aliyun-python-sdk-sts
oss2

APScheduler

pywebpush

gunicorn
